#<VirtualHost *:80>
#    ServerName     www.okochang.com
#    ServerAdmin    admin@okochang.com
#    DocumentRoot   /home/okochang/public
#    CustomLog      logs/okochang.access.log common
#    ErrorLog       logs/okochang.error.log
#</VirtualHost>
